@model proyecto_final_webconfig.Models.Entities.Event

@{
    ViewData["Title"] = "View";
}

<h1>Detalle de evento</h1>
<hr />
<div class="row">
    <div class="col-5 card p-4 m-3">

        <dl class="row">
            <dt class="col-sm-4">
                IP de origen
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IpSource)
            </dd>
            <dt class="col-sm-4">
                Dirección MAC de origen
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MacSource)
            </dd>
            <dt class="col-sm-4">
                Nombre de dispositivo de origen
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OuiSource)
            </dd>
            @* <dt class="col-sm-4">
                IP de destino
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IpDestination)
            </dd>
            <dt class="col-sm-4">
                MAC de destino
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MacDestination)
            </dd>
            <dt class="col-sm-4">
                Nombre de dispositivo de destino
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OuiDestination)
            </dd> *@
            <dt class="col-sm-4">
                Tipo de ataque
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeDetection.DescriptionShort)
            </dd>
            <dt class="col-sm-4">
                Severidad del ataque
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TypeDetection.Severity)
            </dd>
            <dt class="col-sm-4">
                Cantidad de paquetes detectados
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CantPacketsDetect)
            </dd>
            <dt class="col-sm-4">
                Hora de detección
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Timestamp)
            </dd>
        </dl>
    </div>
    <div class="col-6 card m-3 ">
        
        <img src="~/img/consulta.png" class="img-fluid " alt="Responsive image" width="350" height="350">

        <div class="p-5">
            <h3 class="card-title">Información sobre @Model.TypeDetection.DescriptionShort</h3>
            <p>@Model.TypeDetection.DescriptionLong</p>
        </div>

    </div>
</div>



<div>
    
</div>
<div>
    <button type="button" onclick="history.back()" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Volver a la lista</button>
</div>
