@model IEnumerable<proyecto_final_webconfig.Models.Entities.Event>

@{
    ViewData["Title"] = "View";
}

<h1>Registro de eventos</h1>

<table id="miTabla" class="table  table-striped table-hover">
    <thead class="table-primary">
        <tr>
            @*  <th>
                 @Html.DisplayNameFor(model => model.IpSource)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.MacSource)
             </th> *@
            <th>
                Dispositivo origen
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IpDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacDestination)
            </th> *@
            <th>
                Dispositivo destino
            </th>
            <th>
                Tipo de ataque
            </th>
            <th>
                Tamaño de ataque
            </th>
            <th>
                Hora de detección
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.IpSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacSource)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.OuiSource)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IpDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacDestination)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.OuiDestination)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TypeDetection.DescriptionShort) <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-question-circle"></i></button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPacketsDetect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver detalle</a> 
            </td>
        </tr>
}
    </tbody>
</table>


@* TODO: IMPLEMENTAR FUNCION EN JS PARA COPIAR TEXTO DIRECTO  *@

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />


}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#miTabla').DataTable();
        });
    </script>

}